.profile{
    transition-duration: 0.3s;
    transition-duration: transform;
}

.profile:hover{
    transform: scale(1.1);
}

.btn{
    font-weight:bold; 
    background-color:teal;
    width:150px; 
    padding: 15px 20px 15px 20px; 
    text-align:center; 
    text-decoration: none;
    color:white; 
    height:auto; 
    cursor:pointer;
    border-radius:5px; 
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
    transition-property: box-shadow,transform;

   
    display:block; 
    margin-left: auto;
    margin-right: auto;
}

.btn:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.container{
    padding: 40px 40px 40px 40px;
    border-radius: 30px;
}

.about{
     background-color: whitesmoke;
     border-radius:5px; 
     box-shadow:0 0 10px rgba(0, 0, 0, 0.2);

     margin: 50px;
}

.box{  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
} 

.card{
    height: 350px;
    width: 335px;
    padding: 20px 35px;
    background: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: transparent;
    transition-property: transform, border;
    transition-duration: 0.4s;
}

.card:hover{
    transform: scale(1.1);
    border: 2px solid teal;
}
 
.para p{
    color: darkgrey;
    margin-bottom: 50px;
    line-height: 27px;
}

.btn-read{
    background-color: teal;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-read:hover{
    background-color: transparent;
    color: teal;
    border: 2px solid teal;
    cursor: pointer;
}

.latest-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin: 50px;

}

.latest-container img{
    width: 100%;
    transition: 0.4s ease;
}

.latest-container img:hover{
    transform: scale(1.1);
}

.latest-container .latest-box{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease;
}


.latest-box .latest-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.1), teal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.latest-box:hover .latest-layer{
    transform:  translateY(0);
}

.latest-layer h4{
    font-size: 32px;
    color: white;
}

.latest-layer p{
    font-size: 18px;
    margin: 12px;
    color: white;
  }